.container{
    padding-top: 20px;
}
.background{
    background-image: url(https://images.unsplash.com/photo-1544899684-5c0f25795ae9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 700px;
}

tbody{
    background-color: whitesmoke;
}
.hoursColContent{
    display: flex;  
    justify-content: space-between;
    min-height: 40px;
}
.responsiveButtons{
    display:none;
}
td{
    padding:0px!important;
}
form{
    height:100%
}
.btn{
    height:100%!important;
}
.dateCol, .hoursCol{
    width: 20%;
}
tr:hover .responsiveButtons{
    display:flex;
    transition: 0.5s linear;
}